.HomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
    background-color: rgb(37, 29, 59);
}

.Welcome-Message {
    font-size: 2.0rem;
    padding: 30px 30px 30px 30px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 150px;
}

.Qoute-Text {
    font-size: 3.0rem;
    font-style: italic;
}

.Qoute-Author {
    padding-top: 15px;
    padding-left: 900px;
    text-align: center;
    font-size: 1.5rem;
}