@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

// Font Variables
$roboto-slab: 'Roboto Slab', serif;

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-family: $roboto-slab;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.8rem;
  padding: 10px 0px 10px 25px;
  font-family: $roboto-slab;
  font-weight: bold;
  // background-color: rgb(54, 4, 54);
}
