.AboutMe {
    padding-bottom: 50px;
}

.AboutMe-Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.0rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.AboutMe-Content {
    padding-left: 800px;
    max-width: 450px;

    .Profile-Picture {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
}